@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* ---------Topar design with responsive */
header{
    width: 100%;
    background-color: aqua;
    margin-bottom: 30px;
}

header:hover .text-half{
    transform: scale(.6);
}

header:hover .banner-half{
    transform: scale(.7) skew(-20deg);
}

.topbar{
    width: 100%;
    display: flex;
}

.text-half{
    flex-basis: 50%;
    padding: 8vw;
    transition: transform .7s ease;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    margin-bottom: 20px;
    line-height: 1.2em;
}

.button{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 8px;
}

.banner-half{
    flex-basis: 50%;
    padding: 8vw;
    transition: transform .7s ease;
}

.banner-half img{
    width: 100%;
}

/* ------------Responsive for topbar------ */
@media (max-width:688px) {
    .topbar{
        flex-direction: column;
    }
    .title{
        font-size: 10vw;
    }
}

@media (min-width:689px) and (max-width:688px) {
    .topbar{
        flex-direction: column;
    }
    .title{
        font-size: 10vw;
    }
}

/* ---------------Topbar design end--------------- */

main{
    margin-bottom: 50px;
}

.player-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-info img{
    width: 100%;
}

/* ---------------Responsive for player container */
@media (max-width:688px) {
    .player-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width:689px) and (max-width:992px) {
    .player-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Extra section for bonus */

.fifa-news{
    width: 100%;
    display: flex;
}

.news-text{
    position: sticky;
    align-self: flex-start;
    top: 0;
    font-family: 'Dancing Script', cursive;
    border-radius: 5px;
    flex-basis: 50%;
    padding: 8vw;
}

.news-container{
    flex-basis: 50%;
    padding: 8vw;
}

.news{
    font-family: 'Dancing Script', cursive;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.news img{
    width: 100%;
}

/* --------------------Responsive for bonus topics----- */
@media (max-width:688px) {
    .fifa-news{
        flex-direction: column;
    }
}

@media (min-width:689px) and (max-width:992px) {
    .fifa-news{
        flex-direction: column;
    }
}

.vision{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    background-image: url(..//images/news/fifa-bg.jpg);
    position: relative;
}

.vision-title{
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 10vw;
    top: 100px;
    left: 30px;
    position: absolute;
}

.read-more{
    top: 70%;
    left: 30px;
    position: absolute;
}

/* ------------------------Footer design */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.logo img{
    width: 50px;
}

.text-logo{
    margin-left: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.logo > p{
    margin-top: 0;
    margin-bottom: 0;
}

.social-icon ul{
    display:  flex;
    padding-left: 0;
}

.social-icon ul li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    list-style: none;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}

.copyright > p{
    margin-top: 5px;
}