/* ---------------Import Font----------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* ---------------End of the Import Part--------- */


/* ---------------Start of menubar and topbar together which are into header area---------------- */
header{
    width: 100%;
    height: 635px;
    background-color: rgba(0, 17, 255, 0.616);
}

header:hover .text-half{
    transform: scale(1.2);
}

header:hover .banner-half{
    transform: scale(.7) skew(-30deg);
}

/* ---------Menubar design--------- */
nav{
    width: 1160px;
    height: 45px;
    padding-top: 15px;
    padding-left: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menus ul{
    display: flex;
    padding-left: 0;
}

.menus ul li{
    list-style: none;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.login ul li{
    list-style: none;
    background-color: tomato;
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.login i{
    font-size: 10px;
    margin-right: 8px;
}
/* ----------------End of the design of menubar--------- */

/* -----------Start topbar design------------------ */

.topbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text-half{
    padding-left: 156px;
    transition: transform .7s ease;
}

.title{
    width: 485px;
    height: 230px;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
    padding-top: 90px;
    margin-right: 102px;
    margin-bottom: 27px;
}

.text-half a{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
}

.text-half a span{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-right: 10px;
}

.text-half a i{
    font-size: 14px;
}

.banner-half{
    padding-top: 67px;
    padding-right: 141px;
    transition: transform .7s ease;
}

.banner-half img{
    width: 556px;
    height: 438px;
}
/* -----------------------------------------------------------------------
---------------------------End of the topbar design-----------------------
-------------------------------------------------------------------------- */

/**************************Start Design of the player container of main****************** */
main{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.player-container{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    justify-items: center;
}

.player{
    width: 330px;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-info{
    width: 300px;
    padding: 15px;
}
.player-info img{
    width: 300px;
    border-radius: 5px;
}

.player-name{
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 7px;
}

.player-about{
    margin-top: 0;
}

hr{
    border: none;
    border-top: 2px solid grey;
    margin-top: 40px;
}
/* ************************End design of the player container of main************************* */

/* -------------------------------------------------------------------------------------------
                            Extra Topics dessign
----------------------------------------------------------------------------------------------- */

.fifa-news{
    display: flex;
    justify-content: space-around;
    /* width: 1250px;
    padding-left: 130px; */
    margin-top: 40px;
}

.fifa-text{
    width: 300px;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    align-self: start;
    top: 0;
    left: 80px;
}

.news-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.news{
    font-family: 'Dancing Script', cursive;
    width: 320px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.news img{
    width: 100%;
    border-radius: 10px;
}

.vision{
    width: 100%;
    height: 90vh;
    margin-top: 50px;
    background-image: url(../images/news/fifa-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.vision-title{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    color: orange;
    top: 110px;
    left: 180px;
    position: absolute;
}

.button{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    top: 400px;
    left: 180px;
    position: absolute;
}

/* ---------------------------------------------------------------------------
----------------------------End of the Extra Topics designs--------------------
------------------------------------------------------------------------------- */

/* ------------Footer Design-------------------------- */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.logo img{
    width: 50px;
}

.text-logo{
    margin-left: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.logo > p{
    margin-top: 0;
    margin-bottom: 0;
}

.social-icon ul{
    display:  flex;
    padding-left: 0;
}

.social-icon ul li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: grey;
    list-style: none;
    margin-right: 10px;
    text-align: center;
    line-height: 33px;
}

.copyright > p{
    margin-top: 5px;
}
/* -----------------End of the footer design------------------ */

/* -----------------------------------------------------------
--------------------Responsive Design-------------------------
-------------------------------------------------------------- */
@media (max-width:688px) {
    body{
        margin: 0;
    }
    header{
        width: 100%;
        height: 695px;
    }
    nav{
        display: none;
    }
    header:hover .text-half{
        transform: scale(.9);
    }
    
    header:hover .banner-half{
        transform: scale(.6) skew(-30deg);
    }

    .topbar{
        flex-direction: column;
    }

    .text-half{
        padding-left: 16px;
        transition: transform .7s ease;
    }

    .title{
        width: 100%;
        padding-top: 40px;
        height: 138px;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }

    .banner-half{
        padding-top: 50px;
        padding-right: 16px;
        padding-left: 16px;
        transition: transform .7s ease;
    }
    .banner-half img{
        width: 300px;
        height: 230px;
    }


    .player-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        justify-items: center;
    }

    .fifa-news{
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
    }

    .news-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .vision{
        width: 100%;
        height: 30vh;
    }

    .vision-title{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        color: orange;
        top: 20px;
        left: 20px;
        position: absolute;
    }

    .button{
        top: 110px;
        left: 20px;
    }
}

/* -----------------Responsive design for tablet--------------- */
@media screen and (min-width:688px) and (max-width:992px) {
    .topbar{
        flex-direction: column;
    }

    header{
        width: 100%;
        height: 695px;
        background-color: rgba(0, 17, 255, 0.616);
    }
    nav{
        display: none;
    }
    header:hover .text-half{
        transform: scale(.9);
    }
    
    header:hover .banner-half{
        transform: scale(.6) skew(-30deg);
    }

    .topbar{
        flex-direction: column;
    }

    .text-half{
        padding-left: 16px;
        transition: transform .7s ease;
    }

    .title{
        width: 278px;
        height: 138px;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #FFFFFF;
        padding-top: 60px;
    }

    .banner-half{
        padding-top: 50px;
        padding-right: 16px;
        padding-left: 16px;
        transition: transform .7s ease;
    }
    .banner-half img{
        width: 300px;
        height: 230px;
    }

    .player-container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .fifa-news{
        padding-left: 5px;
        padding-right: 5px;
        flex-direction: column;
    }

    .news-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .vision{
        width: 100%;
        height: 30vh;
    }

    .vision-title{
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-size: 15px;
        color: orange;
        top: 20px;
        left: 25px;
        position: absolute;
    }

    .vision-description{
        visibility: hidden;
    }
    .button{
        top: 110px;
        left: 25px;
    }
}